Repository jpsalo/angular-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.ts": "eslint --cache --fix",
  "*.{ts,scss,md}": "prettier --write"
}

Moved serve options to workspace conf (angular.json)
  angular.json
  package.json
Due: none

Added layouts module
  src/app/app.component.html
  src/app/app.module.ts
  src/app/layouts/layouts.module.ts
  src/app/layouts/main/main.component.html
  src/app/layouts/main/main.component.scss
  src/app/layouts/main/main.component.spec.ts
  src/app/layouts/main/main.component.ts
Due: eslint --cache --fix, prettier --write

Added CSS reset
  angular.json
  package-lock.json
  package.json
Due: none

Added stylelint
  .gitignore
  .lintstagedrc
  .stylelintrc.json
  package-lock.json
  package.json
Due: none

.prettierrc.js -> .prettierrc
  .prettierrc
  .prettierrc.js
Due: none

Added global Sass styles
  angular.json
  src/styles.scss
  src/styles/abstracts/_functions.scss
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_variables.scss
  src/styles/base/_base.scss
  src/styles/base/_fonts.scss
  src/styles/base/_helpers.scss
  src/styles/base/_reset.scss
  src/styles/base/_typography.scss
  src/styles/layout/_grid.css
  src/styles/main.scss
Due: prettier --write

Added script for checking conflicts between ESLint/stylelint & Prettier.
  package.json
Due: none

Sass @import -> @use
  src/styles/main.scss
Due: prettier --write

Added Sass breakpoints. See https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_variables.scss
  src/styles/base/_helpers.scss
Due: prettier --write

Added shame Sass file. See - https://csswizardry.com/2013/04/shame-css/ - https://sass-guidelin.es/#architecture
  src/styles/_shame.scss
  src/styles/main.scss
Due: prettier --write

Use npm scripts naming conventions
  package.json
Due: none

Prettier ignore Storybook files
  .prettierignore
Due: none

Don't open browser when running Storybook
  package.json
Due: none

Added BEM support to stylelint. See:
  .stylelintrc.json
  package-lock.json
  package.json
Due: none

Moved stories alongside the components. See https://storybook.js.org/docs/basics/writing-stories/#story-file-location
  src/app/components/button/button.stories.ts
Due: eslint --cache --fix, prettier --write

Added space style variables. See https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62. See https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62
  src/styles/abstracts/_variables.scss
Due: prettier --write

Renamed squish and stretch inset space variables
  src/styles/abstracts/_variables.scss
Due: prettier --write

Text, callback props and demo styles for button component
  src/app/components/button/button.component.html
  src/app/components/button/button.component.scss
  src/app/components/button/button.component.ts
  src/app/components/button/button.stories.ts
Due: eslint --cache --fix, prettier --write

Global demo style for button
  src/styles/base/_base.scss
Due: prettier --write

Typescript path mappings for application modules
  tsconfig.base.json
Due: none

Added spaces sample
  src/app/components/spaces/spaces.component.html
  src/app/components/spaces/spaces.component.scss
  src/app/components/spaces/spaces.component.spec.ts
  src/app/components/spaces/spaces.component.ts
  src/app/components/spaces/spaces.stories.ts
  src/app/layouts/main/main.component.html
Due: eslint --cache --fix, prettier --write

Added template files to Prettier's pre-commit hook
  .lintstagedrc
Due: none

Added sample application.
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.module.ts
  src/app/components/components.module.ts
  src/app/components/messages/messages.component.html
  src/app/components/messages/messages.component.scss
  src/app/components/messages/messages.component.spec.ts
  src/app/components/messages/messages.component.ts
  src/app/interfaces/question.ts
  src/app/layouts/layouts.module.ts
  src/app/layouts/question/question.component.html
  src/app/layouts/question/question.component.scss
  src/app/layouts/question/question.component.spec.ts
  src/app/layouts/question/question.component.ts
  src/app/layouts/questions/questions.component.html
  src/app/layouts/questions/questions.component.scss
  src/app/layouts/questions/questions.component.spec.ts
  src/app/layouts/questions/questions.component.ts
  src/app/services/in-memory-data.service.spec.ts
  src/app/services/in-memory-data.service.ts
  src/app/services/message.service.spec.ts
  src/app/services/message.service.ts
  src/app/services/question.service.spec.ts
  src/app/services/question.service.ts
Due: eslint --cache --fix, prettier --write

Renamed _grid.css -> _grid.scss
  src/styles/layout/_grid.css
  src/styles/layout/_grid.scss
Due: prettier --write

Added light and dark colors
  src/styles/abstracts/_variables.scss
Due: prettier --write

Added header component and main layout
  src/app/app.component.html
  src/app/components/components.module.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.scss
  src/app/components/header/header.component.spec.ts
  src/app/components/header/header.component.ts
  src/app/components/header/header.stories.ts
  src/styles/abstracts/_variables.scss
  src/styles/base/_base.scss
  src/styles/layout/_header.scss
  src/styles/layout/_main.scss
  src/styles/main.scss
Due: eslint --cache --fix, prettier --write

Renamed project boilerplate -> angular-boilerplate
  README.md
  angular.json
  e2e/src/app.e2e-spec.ts
  karma.conf.js
  package-lock.json
  package.json
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/index.html
Due: eslint --cache --fix, prettier --write

Added hero and case components. Non-sticky header
  src/app/components/case/case.component.html
  src/app/components/case/case.component.scss
  src/app/components/case/case.component.spec.ts
  src/app/components/case/case.component.ts
  src/app/components/case/case.stories.ts
  src/app/components/components.module.ts
  src/app/components/hero/hero.component.html
  src/app/components/hero/hero.component.scss
  src/app/components/hero/hero.component.spec.ts
  src/app/components/hero/hero.component.ts
  src/app/components/hero/hero.stories.ts
  src/app/layouts/main/main.component.html
  src/styles/layout/_header.scss
  src/styles/layout/_main.scss
Due: eslint --cache --fix, prettier --write

Added a mixin for centering content
  src/app/components/case/case.component.scss
  src/app/components/hero/hero.component.scss
  src/app/components/spaces/spaces.component.scss
  src/styles/abstracts/_mixins.scss
Due: prettier --write

Added basic typography style
  src/styles/abstracts/_variables.scss
  src/styles/base/_typography.scss
Due: prettier --write

Added gutter
  src/styles/abstracts/_mixins.scss
  src/styles/layout/_header.scss
  src/styles/layout/_main.scss
Due: prettier --write

Renamed case component to preview
  src/app/components/case/case.component.html
  src/app/components/case/case.component.ts
  src/app/components/components.module.ts
  src/app/components/preview/preview.component.html
  src/app/components/preview/preview.component.scss
  src/app/components/preview/preview.component.spec.ts
  src/app/components/preview/preview.component.ts
  src/app/components/preview/preview.stories.ts
  src/app/layouts/main/main.component.html
  src/styles/layout/_main.scss
Due: eslint --cache --fix, prettier --write

Added case component and a proper navigation
  src/app/app-routing.module.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.scss
  src/app/components/preview/preview.component.html
  src/app/components/preview/preview.component.ts
  src/app/layouts/case/case.component.html
  src/app/layouts/case/case.component.scss
  src/app/layouts/case/case.component.spec.ts
  src/app/layouts/case/case.component.ts
  src/app/layouts/layouts.module.ts
  src/app/layouts/main/main.component.html
Due: eslint --cache --fix, prettier --write

Mocked cases
  src/app/app-routing.module.ts
  src/app/components/preview/preview.component.html
  src/app/components/preview/preview.component.ts
  src/app/interfaces/case.ts
  src/app/layouts/case/case.component.html
  src/app/layouts/case/case.component.ts
  src/app/layouts/main/main.component.html
  src/app/layouts/main/main.component.ts
  src/app/services/case.service.spec.ts
  src/app/services/case.service.ts
  src/app/services/in-memory-data.service.ts
Due: eslint --cache --fix, prettier --write

Beginnings of Contentful integration
  package-lock.json
  package.json
  src/app/services/contentful.service.spec.ts
  src/app/services/contentful.service.ts
Due: eslint --cache --fix, prettier --write

Contentful integration
  .gitignore
  README.md
  package-lock.json
  src/app/components/preview/preview.component.html
  src/app/components/preview/preview.component.ts
  src/app/interfaces/case.ts
  src/app/layouts/case/case.component.html
  src/app/layouts/case/case.component.ts
  src/app/layouts/main/main.component.html
  src/app/services/case.service.ts
  src/app/services/contentful.service.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/environments/sample.environment.ts
Due: eslint --cache --fix, prettier --write

Added Lato font
  package-lock.json
  package.json
  src/styles/abstracts/_variables.scss
  src/styles/base/_fonts.scss
Due: prettier --write

Adjusted preview mobile component and case model
  src/app/components/preview/preview.component.html
  src/app/components/preview/preview.component.scss
  src/app/components/preview/preview.component.ts
  src/app/components/preview/preview.stories.ts
  src/app/interfaces/case.ts
  src/app/layouts/case/case.component.html
  src/app/layouts/main/main.component.html
  src/app/services/contentful.service.ts
  src/styles/abstracts/_variables.scss
  src/styles/layout/_main.scss
Due: eslint --cache --fix, prettier --write

Added grid for preview list
  src/app/layouts/main/main.component.html
  src/styles/layout/_main.scss
Due: prettier --write

Override preview style reset on component level
  src/app/components/preview/preview.component.scss
  src/styles/layout/_main.scss
Due: prettier --write
